@charset "utf-8";

#container {position:relative;display:table;width: 100%;}
#container.navbar-fixed>#navbar {z-index: 15;}
/*
#mainnav-container {display:table-cell;position:relative;left:-1px;background:#32404e;padding-bottom:100px;}
#page-content {width:100%;position:relative;display:table-cell;padding:65px 25px 50px 25px;background:#e7ebee;}
width:calc(100% - 270px)
*/
#mainnav-container {display:table-cell;position:fixed;left:-1px;background:#475b6b;padding-bottom:100px;height:100%; overflow-y: auto;}

/*  상단 헤드 및 주 메뉴 */
.header {width:100%;height:80px;background-color:#0f1518; z-index:10000;overflow:hidden;position:fixed;top:0px;}
.header .nav_m {width:100%; }
.header .nav_m ul {width:1520px; list-style: none;}
.header .nav_m li.menu_box {text-decoration: none; width:103px;height:80px;float:left;}
.header .nav_m li.line {border-right:1px solid #252525;}

.header .nav_m li a {display: block; height: 80px;text-indent: -9999px;}
.header .nav_m li.menu01 a{background: url(../images/topmenu.png);}
.header .nav_m li.menu02 a{background: url(../images/topmenu.png); background-position: -103px 0;}
.header .nav_m li.menu03 a{background: url(../images/topmenu.png); background-position: -206px 0;}
.header .nav_m li.menu04 a{background: url(../images/topmenu.png); background-position: -309px 0;}
.header .nav_m li.menu05 a{background: url(../images/topmenu.png); background-position: -412px 0;}
.header .nav_m li.menu06 a{background: url(../images/topmenu.png); background-position: -515px 0;}
.header .nav_m li.menu07 a{background: url(../images/topmenu.png); background-position: -618px 0;}
.header .nav_m li.menu08 a{background: url(../images/topmenu.png); background-position: -721px 0;}
.header .nav_m li.menu09 a{background: url(../images/topmenu.png); background-position: -824px 0;}
.header .nav_m li.menu10 a{background: url(../images/topmenu.png); background-position: -927px 0;}

.header .nav_m li.menu01 a:hover{background: url(../images/topmenu.png); background-position: 0 -80px;}
.header .nav_m li.menu02 a:hover{background: url(../images/topmenu.png); background-position: -103px -80px;}
.header .nav_m li.menu03 a:hover{background: url(../images/topmenu.png); background-position: -206px -80px;}
.header .nav_m li.menu04 a:hover{background: url(../images/topmenu.png); background-position: -309px -80px;}
.header .nav_m li.menu05 a:hover{background: url(../images/topmenu.png); background-position: -412px -80px;}
.header .nav_m li.menu06 a:hover{background: url(../images/topmenu.png); background-position: -515px -80px;}
.header .nav_m li.menu07 a:hover{background: url(../images/topmenu.png); background-position: -618px -80px;}
.header .nav_m li.menu08 a:hover{background: url(../images/topmenu.png); background-position: -721px -80px;}
.header .nav_m li.menu09 a:hover{background: url(../images/topmenu.png); background-position: -824px -80px;}
.header .nav_m li.menu10 a:hover{background: url(../images/topmenu.png); background-position: -927px -80px;}

.header .nav_m li.menu01.active-link a{background: url(../images/topmenu.png); background-position: 0 -80px;}
.header .nav_m li.menu02.active-link a{background: url(../images/topmenu.png); background-position: -103px -80px;}
.header .nav_m li.menu03.active-link a{background: url(../images/topmenu.png); background-position: -206px -80px;}
.header .nav_m li.menu04.active-link a{background: url(../images/topmenu.png); background-position: -309px -80px;}
.header .nav_m li.menu05.active-link a{background: url(../images/topmenu.png); background-position: -412px -80px;}
.header .nav_m li.menu06.active-link a{background: url(../images/topmenu.png); background-position: -515px -80px;}
.header .nav_m li.menu07.active-link a{background: url(../images/topmenu.png); background-position: -618px -80px;}
.header .nav_m li.menu08.active-link a{background: url(../images/topmenu.png); background-position: -721px -80px;}
.header .nav_m li.menu09.active-link a{background: url(../images/topmenu.png); background-position: -824px -80px;}
.header .nav_m li.menu10.active-link a{background: url(../images/topmenu.png); background-position: -927px -80px;}

.nav_m ul .active-link a {background-color: #2986b8;background-color: #2c55b8;background-color: #5fa2dd;}


/* 좌측 로그인정보 메뉴 트리 */
/*.menulist { padding: 75px 10px 100px 10px; width:200px;} 메뉴버튼 4개 있을시*/
.login_div { width:200px; float: left;}
.login_div {margin:22px 0 0 25px;}
.login_div h3.name {color: aliceblue;font-size: 11px;font-weight:bold;display: inline-block;float: left;padding: 3px 5px 0 0;}
.login_name_accent {color:#ffecbd; font-size:11px; font-weight:bold;}
.login_div h4 {color: #898989; font-size: 11px;display: inline-block;padding: 7px 0;margin: 0 5px 5px 0;}
.login_div span.log {float: left; color:#cacaca; font-size:11px; padding-top: 3px; display: inline-block;}
.login_div span.date {color:#cacaca; font-size:12px; padding-top: 3px; display: inline-block; letter-spacing: 0;}
.menulist .my_btn {color:#fff;width:94px;background-color: #233343;padding: 5px 5px; margin: 3px 2px;border: 0px solid;float:left;}
.menulist .my_btn:hover {color:#fff;background-color: #1f2d3b;}
.btn_admin_logout {width: 60px; height: 18px; color: #fff; background: #838383; border-radius: 5px; font-size:11px;}

/* 좌측 메뉴 트리 */
#mainnav-container {background:#0f1518;border-right:1px solid #ababab;letter-spacing:-1px; z-index: 100;}
.menulist h3.name {color:#cacaca;}
#mainnav-menu .list-group {width:200px;padding-top:80px;}
#mainnav-menu .list-group dt {cursor:pointer; border-bottom:1px solid #252525;}
#mainnav-menu .list-group dt:hover {color:#f1f1f1;background:#22605c;}
#mainnav-menu .list-group dt.active {color:#f1f1f1;background:#209e96; font-weight: bold;}
#mainnav-menu .list-group dt p {font-size:12px;color:#f1f1f1;padding:15px 25px;}
#mainnav-menu .list-group dt p span {padding-left:10px;}
#mainnav-menu .list-group dd {background:#0f1518;}
#mainnav-menu .list-group dd li {padding:14px 0 14px 0; border-bottom:1px solid #252525;}
#mainnav-menu .list-group dd a {background: url(../images/icon_lnb_hover_off.png) no-repeat; background-position:40px, 0px; background-color:#0f1518; color:#cacaca; display:block;padding-left:55px;color:#a1b3ae;font-size:12px;}
#mainnav-menu .list-group dd a:hover {background: url(../images/icon_lnb_hover_on.png) no-repeat; background-position:40px, 0px; background-color:#0f1518; color:#ffecbd; font-weight:bold;}
#mainnav-menu .list-group dd a.on {background: url(../images/icon_lnb_hover_on.png) no-repeat; background-position:40px, 0px; background-color:#0f1518; color:#ffecbd; font-weight:bold;}
#mainnav-menu .btn-primary {margin-right: 4px;}




#content-container .search_box .search_body .search_btn>button {padding:4px 18px;background:#00806f}


/* 본문  */


/* 팝업창 */
.pop_add_box {overflow:hidden;background:#fff;}
.pop_add_box dl {width:100%;overflow:hidden; padding:8px;background:#436292;}
.pop_add_box dl dt {float:left;}
.pop_add_box dl dt.tit {width:70%;}
.pop_add_box dl dt.tit h4 {font-size:12px;font-weight:bold;color:#fff; padding:8px 0 0 10px;}
.pop_add_box dl dt.cls {width:30%;text-align:right;}
.pop_add_box dl dt.cls button {margin:4px 5px 0 0}
.pop_add_box p {height:25px;font-size:12px;clear:both;padding:5px 10px;}
.pop_add_box .pop-base {padding:10px;overflow:auto;}
.pop_add_box .pop-base .pop-content {padding:20px;background:#fff;}
.pop_add_box .pop-base .pop-content .list_scroll {width:100%;overflow:auto;font-size:14px;line-height:18px;}
.pop_add_box .search_btn {background: #fff; border:#e1e5ea 1px solid;vertical-align: middle; padding-left: 5px;margin: 0 2px;height: 26px; color: #515151}

.pop_add_box .pop-base2 {padding:10px;overflow:auto;}
.pop_add_box .pop-base2 .pop-content {padding:20px;background:#fff;}
.pop_add_box .pop-base2 .pop-content .list_scroll {width:100%;overflow:auto;font-size:14px;line-height:18px;}


/* 기본형 테이블 박스 */
/*table, thead {text-align:center;}*/
thead {background: #ddd;}
/*th, td {vertical-align:middle;}*/
.table-body {padding:15px;background:#fff;overflow:hidden;}
.table-body .table_top {width:100%;margin:0;padding:0;overflow:hidden;}
.table-body .table_top .sel  {width:50%;list-style:none;float:left;padding-bottom:10px;}
.table-body .table_top .sel01  {width:70%;list-style:none;float:left;padding-bottom:10px;}
.table-body .table_top .sel02  {width:30%;list-style:none;float:left;padding-bottom:10px;}
.table-body .table_top .search_btn {background: #fff; border:#e1e5ea 1px solid;vertical-align: middle; padding-left: 5px;margin: 0 2px;height: 26px; color: #515151}
.table-body .table_scroll {width:100%;overflow:auto;position:relative;}
.table-body .table_basic {width:100%;position:relative;min-height: 150px;}
.table-body table {border: 3px solid #D4D4D4;font-size:12px;margin:0 55px 15px 0;}
.table-body table th {border-left:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;font-weight:bold;padding:7px 10px;}
.table-body table td {border-left:1px dotted #ddd;border-bottom:1px dotted #ddd;padding:7px 10px;vertical-align: middle;}
.table-body table td.left_td {text-align:left}
.table-body table td.cellbg_td {background:#f7fafb;}
.table-body table .bm2px {border-bottom:3px solid #D4D4D4;}
.table-body table tr.cellbg {background:#f7fafb;}
.table-body table tr:hover {background:#f0f2f6;}
.table-body table tr.selbg {background:rgba(240, 171, 171, 0.26);}   /* 수정 */
.table-body table tr.selbg:hover {background:rgba(240, 171, 171, 0.44);}   /* 수정 */
.table-body .p_num_b {position:absolute;padding-top:1px;overflow:hidden;min-height: 30px;}
.table-body .p_num_bs {position:absolute;padding-bottom:15px;overflow:hidden;min-height: 30px;}
.table-body .p_num_s {position:relative;bottom:5px;padding-top:1px;padding-bottom:5px;overflow:hidden;min-height: 30px;}
.table-body .p_num_p {position:absolute;padding-top:1px;min-height: 30px;}
.table-body label {display:inline-block;}
.table-body .control-label {font-size:14px; font-weight:bold; padding: 10px 0;}
.searched {padding:15px;background:#58c2e2;overflow:hidden;}
.searched table td {padding:15px;background:#fff;overflow:hidden;}
/* open 테이블 박스 */
.table-body2 {padding:10px;background:#fff;overflow:hidden;}
.table-body2 .table_top {width:100%;margin:0;padding:0;overflow:hidden;}
.table-body2 .table_top .sel  {width:50%;list-style:none;float:left;padding-bottom:10px;}
.table-body2 .table_top .sel01  {width:70%;list-style:none;float:left;padding-bottom:10px;}
.table-body2 .table_top .sel02  {width:30%;list-style:none;float:left;padding-bottom:10px;}
.table-body2 .table_top .search_btn {background: #fff; border:#e1e5ea 1px solid;vertical-align: middle; padding-left: 5px;margin: 0 2px;height: 26px; color: #515151}

.table-body2 .table_basic {width:100%;position:relative;min-height: 150px;}
.open_b {border: 3px solid #D4D4D4;font-size:12px;margin:0 55px 15px 0;}
.table-body2 table th {border-left:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;font-weight:bold;padding:10px;}
.table-body2 table td {border-left:1px dotted #ddd;border-bottom:1px dotted #ddd;padding:10px;}
.table-body2 table td.cellbg_td {background:#f7fafb;}
.table-body2 table .bm2px {border-bottom:3px solid #D4D4D4;}
.table-body2 table tr.cellbg {background:#f7fafb;}   /* 수정 */
.table-body2 table tr.selbg {background:rgba(240, 171, 171, 0.26);}   /* 수정 */
.table-body2 table tr.selbg:hover {background:rgba(240, 171, 171, 0.44);}   /* 수정 */
.table-body2 table tr:hover {background:#f0f2f6;}
.table-body2 a.line {text-decoration:underline;}
.table-body2 .p_num_b {position:absolute;padding-top:1px;overflow:hidden;min-height: 30px;}
.table-body2 .p_num_s {position:relative;bottom:5px;padding-top:1px;padding-bottom:5px;overflow:hidden;min-height: 30px;}
.table-body2 table td input {position:relative;top:4px;margin-right:3px;}

/* 작업일지 & 바토드 페이지 테이블 */
.table-body3 {padding:15px;background:#fff;overflow:hidden;}
.table-body3 .table_top {width:100%;margin:0;padding:0;overflow:hidden;}
.table-body3 .table_top .sel  {width:50%;list-style:none;float:left;padding-bottom:10px;}
.table-body3 .table_top .sel01  {width:70%;list-style:none;float:left;padding-bottom:10px;}
.table-body3 .table_top .sel02  {width:30%;list-style:none;float:left;padding-bottom:10px;}
.table-body3 .table_top .search_btn {background: #fff; border:#e1e5ea 1px solid;vertical-align: middle; padding-left: 5px;margin: 0 2px;height: 26px; color: #515151}
.table-body3 .table_scroll {width:100%;overflow:auto;position:relative;}
.table-body3 .table_basic {width:100%;position:relative;min-height: 150px;}
.table-body3 table {border: 3px solid #D4D4D4;font-size:12px;margin:0 55px 15px 0;}
.table-body3 table th {border-left:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;font-weight:bold;padding:7px 10px; background: #eee; width: 200px;}
.table-body3 table td {border-left:1px dotted #ddd;border-bottom:1px dotted #ddd;padding:7px 10px;vertical-align: middle;text-align:left}
.table-body3 table td.cellbg_td {background:#f7fafb;}
.table-body3 table .bm2px {border-bottom:3px solid #D4D4D4;}
.table-body3 table tr.selbg {background:rgba(240, 171, 171, 0.26);}   /* 수정 */
.table-body3 table tr.selbg:hover {background:rgba(240, 171, 171, 0.44);}   /* 수정 */
.table-body3 table tr.cellbg {background:#f7fafb;}
.table-body3 .p_num_b {position:absolute;padding-top:1px;overflow:hidden;min-height: 30px;}
.table-body3 .p_num_bs {position:absolute;padding-bottom:15px;overflow:hidden;min-height: 30px;}
.table-body3 .p_num_s {position:relative;bottom:5px;padding-top:1px;padding-bottom:5px;overflow:hidden;min-height: 30px;}
.table-body3 .p_num_p {position:absolute;padding-top:1px;min-height: 30px;}
.table-body3 label {display:inline-block;}

/* pager */
.pagination {overflow:hidden;margin:0;}
.pagination li {border-right:1px solid #dcdcdc;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;float:left;overflow:hidden;}
.pagination li:first-child {border-left:1px solid #dcdcdc;}
.pagination li a {display:block;width:24px;height:24px;font-size:12px;color:#515151;padding-top:8px;text-align:center;background:#fff;    padding: 6px 6px 0px 6px !important;}
.pagination li a:hover {background:#209e96;color:#fff;}
.pagination li a.active {background:#209e96;color:#fff;}
.pagination li.disabled {background:#fff;color:#ddd;}
.pagination li i {display: block;width: 24px;height: 24px;padding: 6px 6px 0 6px !important;text-align: center;line-height: 1.42857143;}


.pagination .fa {padding:0px}
.page_bar_02 span {display:inline-block;border-right: 1px solid #dcdcdc;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; width:30px; height:24px; float: left;overflow: hidden;}
.page_bar_02 span a {width: 24px;height: 24px;padding: 6px 6px 0 6px;text-align: center;line-height: 1.42857143;font-size: 12px; line-height: 2px;}
.page_bar_02 span a:active {background: #209e96; color: #fff;}
.page_bar_02 span:first-child {background: #fff; border-left: 1px solid #dcdcdc;}
.page_bar_02 span.disabled {background: #fff; color: #ddd;}
.page_bar_02 span button {background:#fff; width:26px !important;}


/* tab */
.nav-tabs,
.nav-pills {position: relative;}

/* top */
#scrollUp {bottom: 20px;	right: 20px;}

/*tooltip*/
.popover.top>.arrow {bottom: -10px;left:50%;margin-left: -11px;border-top-color: rgba(0,0,0,.25);border-bottom-width: 0;}
.popover.top>.arrow:after {bottom: 1px;margin-left: -9px;content: " ";border-top-color: #fff;border-bottom-width: 0;}
.popover>.arrow {border-width: 9px;border-top-width: 9px;border-right-width: 9px;border-bottom-width: 9px;border-left-width: 9px;}
.popover>.arrow:after {border-width: 9px;}
.popover>.arrow, .popover>.arrow:after {position:absolute;display: block;width:0;height:0;border-color: transparent;border-style: solid;}
.editable-input {display: inline-block; width: auto; white-space: normal; zoom: 1;}
.editable-input input {border:1px solid #ddd;padding:0 5px;height:20px;font-size:12px;}
.editable-clear-x {background: url(../images/clear.png) center center no-repeat;display: block;width:13px;height:13px;position: absolute;opacity: 0.6;z-index:1000;top: 50%;right: 6px;margin-top: -6px;}
.popover {position:absolute;display:block;padding:7px;white-space:normal;background-color:#fff;border: 1px solid #d1d0d0;border-radius: 6px;-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);background-clip: padding-box;}



/*생산*/
