/* width, height */

.fix_width50f {width:50%;}
.fix_width100f {width:100%;}

.fix_width2 {width:2px;}
.fix_width5 {width:5px;}
.fix_width8 {width:8px;}
.fix_width9 {width:9px;}
.fix_width10 {width:10px;}
.fix_width12 {width:12px;}
.fix_width13 {width:13px;}
.fix_width14 {width:14px;}
.fix_width15 {width:15px;}
.fix_width16 {width:16px;}
.fix_width20 {width:20px;}
.fix_width23 {width:23px;}
.fix_width24 {width:24px;}
.fix_width25 {width:25px;}
.fix_width28 {width:28px;}
.fix_width30 {width:30px;}
.fix_width37 {width:37px;}
.fix_width40 {width:40px;}
.fix_width44 {width:44px;}
.fix_width45 {width:44px;}
.fix_width48 {width:48px;}

.fix_width51 {width:51px;}
.fix_width54 {width:54px;}
.fix_width55 {width:55px;}
.fix_width57 {width:57px;}
.fix_width60 {width:60px;}
.fix_width63 {width:63px;}
.fix_width68 {width:68px;}
.fix_width70 {width:70px;}
.fix_width73 {width:73px;}
.fix_width74 {width:74px;}
.fix_width75 {width:75px;}
.fix_width76 {width:76px;}
.fix_width77 {width:77px;}
.fix_width78 {width:78px;}
.fix_width79 {width:79px;}
.fix_width81 {width:81px;}
.fix_width83 {width:83px;}
.fix_width85 {width:85px;}
.fix_width87 {width:87px;}
.fix_width91 {width:91px;}
.fix_width94 {width:94px;}
.fix_width96 {width:96px;}
.fix_width97 {width:97px;}
.fix_width99 {width:99px;}

.fix_width100 {width:100px;}
.fix_width102 {width:102px;}
.fix_width104 {width:104px;}
.fix_width105 {width:105px;}
.fix_width110 {width:110px;}
.fix_width112 {width:112px;}
.fix_width120 {width:120px;}
.fix_width123 {width:123px;}
.fix_width124 {width:124px;}
.fix_width125 {width:125px;}
.fix_width126 {width:126px;}
.fix_width127 {width:127px;}
.fix_width130 {width:130px;}
.fix_width137 {width:137px;}
.fix_width139 {width:139px;}
.fix_width140 {width:140px;}
.fix_width143 {width:143px;}
.fix_width145 {width:145px;}
.fix_width147 {width:147px;}
.fix_width150 {width:150px;}
.fix_width152 {width:152px;}
.fix_width157 {width:157px;}
.fix_width162 {width:162px;}
.fix_width170 {width:170px;}
.fix_width173 {width:173px;}
.fix_width174 {width:174px;}
.fix_width175 {width:175px;}
.fix_width180 {width:180px;}
.fix_width182 {width:182px;}
.fix_width184 {width:184px;}
.fix_width191 {width:191px;}
.fix_width196 {width:196px;}

.fix_width200 {width:200px;}
.fix_width201 {width:201px;}
.fix_width203 {width:203px;}
.fix_width205 {width:205px;}
.fix_width220 {width:220px;}
.fix_width223 {width:223px;}

.fix_width250 {width:250px;}
.fix_width265 {width:265px;}
.fix_width270 {width:270px;}
.fix_width288 {width:288px;}
.fix_width291 {width:291px;}
.fix_width297 {width:297px;}

.fix_width300 {width:300px;}
.fix_width304 {width:304px;}
.fix_width305 {width:305px;}
.fix_width310 {width:310px;}
.fix_width315 {width:315px;}
.fix_width324 {width:324px;}
.fix_width326 {width:326px;}
.fix_width344 {width:344px;}
.fix_width350 {width:350px;}
.fix_width363 {width:363px;}
.fix_width371 {width:371px;}
.fix_width393 {width:393px;}
.fix_width400 {width:400px;}
.fix_width408 {width:408px;}
.fix_width431 {width:431px;}
.fix_width440 {width:440px;}
.fix_width452 {width:452px;}
.fix_width460 {width:460px;}
.fix_width491 {width:491px;}
.fix_width500 {width:500px;}
.fix_width520 {width:520px;}
.fix_width550 {width:550px;}
.fix_width570 {width:570px;}
.fix_width577 {width:577px;}
.fix_width580 {width:580px;}
.fix_width588 {width:588px;}
.fix_width616 {width:616px;}
.fix_width620 {width:620px;}
.fix_width647 {width:647px;}
.fix_width650 {width:650px;}
.fix_width697 {width:697px;}
.fix_width700 {width:700px;}
.fix_width750 {width:750px;}
.fix_width760 {width:760px;}
.fix_width780 {width:780px;}
.fix_width800 {width:800px;}
.fix_width803 {width:803px;}
.fix_width806 {width:806px;}
.fix_width820 {width:820px;}
.fix_width860 {width:860px;}
.fix_width880 {width:880px;}
.fix_width900 {width:900px;}
.fix_width920 {width:920px;}
.fix_width950 {width:950px;}
.fix_width970 {width:970px;}
.fix_width990 {width:990px;}

.fix_width1000 {width:1000px;}
.fix_width1000 {width:1030px;}
.fix_width1050 {width:1050px;}
.fix_width1150 {width:1150px;}
.fix_width1180 {width:1180px;}
.fix_width1200 {width:1200px;}
.fix_width1400 {width:1400px;}

.fix_height20 {height:20px;}
.fix_height25 {height: 25px;}
.fix_height30 {height: 30px;}
.fix_height50 {height: 50px;}
.fix_height52 {height: 52px;}
.fix_height57 {height: 57px;}
.fix_height114 {height: 114px;}
.fix_height120 {height: 120px;}
.fix_height200 {height: 200px;}
.fix_height250 {height: 250px;}
.fix_height315 {height: 315px;}
.fix_height320 {height: 320px;}
.fix_height325 {height: 325px;}
.fix_height330 {height: 330px;}
.fix_height350 {height: 350px;}
.fix_height415 {height: 415px;}
.fix_height460 {height: 460px;}
.fix_height590 {height: 590px;}

.min_height500 {min-height: 500px;}
.min_height600 {min-height: 600px;}

/* 간격조정 */
.ptb05 {padding: 3px 0;}
.pt05 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top:25px;}
.plr10 {padding: 0 10px}
.ptb10 {padding: 10px 0;}
.pt1020{padding: 10px 20px;}
.ptb15 {padding: 15px 0;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb50 {padding-bottom:50px;}
.pa25 {padding:0 25px 25px 25px;}
.pr24 {padding-right:24px;}
.pl10 {padding-left:10px;}

.mt02 {margin-top: 2px;}
.mt05 {margin-top: 5px;}
.mt15 {margin-top: 15px;}
.mt25 {}
.mt50 {margin-top: 50px;}
.mt96 {margin-top: 96px;}
.mt265 {margin-top: 265px;}
.mt300 {margin-top: 300px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right: 20px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

/* Line */
 hr {margin:15px 10px 5px; border-color:rgba(0,0,0,0.2)}
.hr_bd {width:85%;border-top:1px solid #dfdfdf;margin:10px auto;}
.hr_bd2 {width:95%;border-top:1px solid #dfdfdf;margin:10px auto;}
.hr_bd2_b {width:95%;border-top:1px solid #009aea;margin:10px auto;}
.hr_bd3_b {width:100%;border-top:1px solid #009aea;margin:10px auto;}
.hr_bd3 {width:100%;border-top:1px solid #dfdfdf;margin:10px auto;}
.hr_bd3_d {width:100%;border-top:1px dotted #dfdfdf;margin:10px auto;}
.hr_bd4 {width:70%;border-top:1px solid #dfdfdf;margin:10px auto;}
